.DS_Store
Thumbs.db

.gradle/
.kotlin/
build/
local.properties

*.iml
.idea/

*.apk
*.aab

*.hprof
captures/

*.jks
*.keystore
google-services.json

# Gradle
gradle/wrapper/gradle-wrapper.jar

# Keystore
*.jks
*.keystore